<h2>Login!</h2>

<%= form_for @user, url: login_path do |f| %>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit value: "Login" %>
  </p>

<% end %>
